body {
    background-color: #82ABA1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    padding-top: 25%;
};

h2 {
    font-family: "Impact", sans-serif;
    border-bottom: #E8AEB7, 5px, solid;
};

h6 {
    color: #9278C2;
    font-family: "Impact", sans-serif;
}

p {
    border:#FFFFFF, 5px, solid;
    font-family: "Arial", sans-serif;
};

button {
    padding: 5%;
    border-radius: 5px;
    background-color: #E8AEB7;
    border: none;
    color: #FFFFFF;
    font-style: oblique;
};

#quizBox {
    background: #A9FFF7;
    border: #B8E1FF 10px inset;
    width: 60%;
    height: 50%
    display: block;
    align-self: center;
}

#quiz {
    width: 40%;
    height: 40%;
    border:#FFFFFF 5px dashed;
    display: block;
}

#timer {
    font-family: "Mulish", sans-serif;
    color: #E8AEB7;
    display: block;
};
